@import '../../styles/common.scss';

body {
  display: flex;

  nav {
    background: wheat;
    width: 2.6rem;
    height: 20rem;

    div {
      display: flex;
      height: 1.8rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid black;
      cursor: pointer;
      &:hover {
        background: #f0f0f0;
      }
    }
  }
}